- 다음모임때 준비할 것 
  . 본인 회사 주식, 2018년부터 지금까지 데이터 확보하기 (교재는 2021년까지임.)
    : 증권회사 또는 네이버 등 본인이 편한 방법으로
  . 잘 얻어졌다면 업데이트 된 데이터로 프로그램 돌려보기 (옵션임)

date,

market_kospi_ma5_ratio,
market_kospi_ma20_ratio,
market_kospi_ma60_ratio,
market_kospi_ma120_ratio,

bond_k3y_ma5_ratio,
bond_k3y_ma20_ratio,
bond_k3y_ma60_ratio,
bond_k3y_ma120_ratio

In [2]:
import FinanceDataReader as fdr
from pykrx import stock
# import pandas_datareader as pdr
import pandas_datareader.data as web
import pandas as pd

import matplotlib.pyplot as plt

In [24]:
df1 = fdr.DataReader('KS11', '2018-01-01')
df2 = fdr.DataReader('114260', '2018-01-01') # KODEX 국고채3년

# 컬럼명 정리
df1 = df1[['Close']]
df1.rename(columns={'Close': 'market_kospi'}, inplace=True)
df2 = df2[['Close']]
df2.rename(columns={'Close': 'bond_k3y'}, inplace=True)

df = df1.merge(df2, left_index=True, right_index=True, how='inner')
df = df.rename_axis('date')

df.head()

            market_kospi  bond_k3y
Date
2018-01-02   2479.649902     53961
2018-01-03   2486.350098     53981
2018-01-04   2466.459961     53951
2018-01-05   2497.520020     54006
2018-01-08   2513.280029     53991

In [25]:
# 종가 이동평균으로 나눈 현재 종가 비율
df['market_kospi_ma5_ratio'] = df['market_kospi'] / df['market_kospi'].rolling(window=5).mean()
df['market_kospi_ma20_ratio'] = df['market_kospi'] / df['market_kospi'].rolling(window=10).mean()
df['market_kospi_ma60_ratio'] = df['market_kospi'] / df['market_kospi'].rolling(window=60).mean()
df['market_kospi_ma120_ratio'] = df['market_kospi'] / df['market_kospi'].rolling(window=120).mean()

# 거래량 이동평균으로 나눈 현재 거래량 비율
df['bond_k3y_ma5_ratio'] = df['bond_k3y'] / df['bond_k3y'].rolling(window=5).mean()
df['bond_k3y_ma20_ratio'] = df['bond_k3y'] / df['bond_k3y'].rolling(window=10).mean()
df['bond_k3y_ma60_ratio'] = df['bond_k3y'] / df['bond_k3y'].rolling(window=60).mean()
df['bond_k3y_ma120_ratio'] = df['bond_k3y'] / df['bond_k3y'].rolling(window=120).mean()
df.head()

,market_kospi,bond_k3y,market_kospi_ma5_ratio,market_kospi_ma20_ratio,market_kospi_ma60_ratio,market_kospi_ma120_ratio,bond_k3y_ma5_ratio,bond_k3y_ma20_ratio,bond_k3y_ma60_ratio,bond_k3y_ma120_ratio
Date,,,,,,,,,,
2018-01-02,2479.649902,53961,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-01-03,2486.350098,53981,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-01-04,2466.459961,53951,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-01-05,2497.520020,54006,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-01-08,2513.280029,53991,1.009896,NaN,NaN,NaN,1.000241,NaN,NaN,NaN

In [26]:
# 결측값을 포함하는 행 제거
df = df.dropna()
df.head()

,market_kospi,bond_k3y,market_kospi_ma5_ratio,market_kospi_ma20_ratio,market_kospi_ma60_ratio,market_kospi_ma120_ratio,bond_k3y_ma5_ratio,bond_k3y_ma20_ratio,bond_k3y_ma60_ratio,bond_k3y_ma120_ratio
Date,,,,,,,,,,
2018-06-28,2314.239990,54648,0.987111,0.982925,0.948044,0.941814,1.001228,1.001844,1.006069,1.009631
2018-06-29,2326.129883,54613,0.994821,0.991255,0.953694,0.947146,1.000366,1.000913,1.005291,1.008883
2018-07-02,2271.540039,54653,0.978702,0.972331,0.932413,0.925593,1.000677,1.001328,1.005878,1.009518
2018-07-03,2272.760010,54623,0.985868,0.975665,0.933998,0.926700,0.999908,1.000614,1.005200,1.008859
2018-07-04,2265.459961,54643,0.989273,0.976659,0.931908,0.924452,1.000128,1.000778,1.005443,1.009130

In [27]:
df.columns

Index(['market_kospi', 'bond_k3y', 'market_kospi_ma5_ratio',
       'market_kospi_ma20_ratio', 'market_kospi_ma60_ratio',
       'market_kospi_ma120_ratio', 'bond_k3y_ma5_ratio', 'bond_k3y_ma20_ratio',
       'bond_k3y_ma60_ratio', 'bond_k3y_ma120_ratio'],
      dtype='object')

In [28]:
# 데이터프레임을 CSV 파일로 저장
df.to_csv('marketfeatures.csv')