- 다음모임때 준비할 것 
  . 본인 회사 주식, 2018년부터 지금까지 데이터 확보하기 (교재는 2021년까지임.)
    : 증권회사 또는 네이버 등 본인이 편한 방법으로
  . 잘 얻어졌다면 업데이트 된 데이터로 프로그램 돌려보기 (옵션임)

- date,
- open,
- high
- low,
- close,
- volume,

per,
pbr,
roe,

- open_lastclose_ratio,
- high_close_ratio,
- low_close_ratio,
- diffratio,
- volume_lastvolume_ratio,

- close_ma5_ratio,
- volume_ma5_ratio,
- close_ma10_ratio,
- volume_ma10_ratio,
- close_ma20_ratio,
- volume_ma20_ratio,
- close_ma60_ratio,
- volume_ma60_ratio,
- close_ma120_ratio,
- volume_ma120_ratio,

ind,ind_diff,ind_ma5,ind_ma10,ind_ma20,ind_ma60,ind_ma120,
inst,inst_diff,inst_ma5,inst_ma10,inst_ma20,inst_ma60,inst_ma120,
foreign,foreign_diff,foreign_ma5,foreign_ma10,foreign_ma20,foreign_ma60,foreign_ma120

In [93]:
import pandas_datareader.data as web
import pandas as pd
df = web.DataReader(
    '022100',
    'naver',
    start='2018-01-01',
    end='2023-12-31'
)

# 컬럼 이름을 소문자로 변환
df.columns = df.columns.str.lower()

df.head()

            open  high   low close   volume
Date
2018-01-02  8420  8480  8270  8460  1176650
2018-01-03  8460  8710  8420  8500  1678788
2018-01-04  8580  8590  8210  8220  1546841
2018-01-05  8230  8360  8230  8300  1035357
2018-01-08  8310  8320  8050  8100  1446225

In [94]:
# 모든 열의 데이터 타입을 숫자형으로 변환
df = df.apply(pd.to_numeric, errors='coerce')
df.dtypes

open      int64
high      int64
low       int64
close     int64
volume    int64
dtype: object

In [95]:
# 비율 파생변수 last 접두사는 전일을 의미함
df['open_lastclose_ratio'] = df['open'] / df['close'].shift(1)
df['high_close_ratio'] = df['high'] / df['close']
df['low_close_ratio'] = df['low'] / df['close']
df['diffratio'] = df['open'] / df['close']
df['volume_lastvolume_ratio'] = df['volume'] / df['volume'].shift(1)

In [98]:
# 종가 이동평균으로 나눈 현재 종가 비율
df['close_ma5_ratio'] = df['close'] / df['close'].rolling(window=5).mean()
df['close_ma10_ratio'] = df['close'] / df['close'].rolling(window=10).mean()
df['close_ma20_ratio'] = df['close'] / df['close'].rolling(window=20).mean()
df['close_ma60_ratio'] = df['close'] / df['close'].rolling(window=60).mean()
df['close_ma120_ratio'] = df['close'] / df['close'].rolling(window=120).mean()

# 거래량 이동평균으로 나눈 현재 거래량 비율
df['volume_ma5_ratio'] = df['volume'] / df['volume'].rolling(window=5).mean()
df['volume_ma10_ratio'] = df['volume'] / df['volume'].rolling(window=10).mean()
df['volume_ma20_ratio'] = df['volume'] / df['volume'].rolling(window=20).mean()
df['volume_ma60_ratio'] = df['volume'] / df['volume'].rolling(window=60).mean()
df['volume_ma120_ratio'] = df['volume'] / df['volume'].rolling(window=120).mean()
df.head()

,open,high,low,close,volume,open_lastclose_ratio,high_close_ratio,low_close_ratio,diffratio,volume_lastvolume_ratio,close_ma5_ratio,close_ma10_ratio,close_ma20_ratio,close_ma60_ratio,close_ma120_ratio,volume_ma5_ratio,volume_ma10_ratio,volume_ma20_ratio,volume_ma60_ratio,volume_ma120_ratio
Date,,,,,,,,,,,,,,,,,,,,
2018-01-08,8310,8320,8050,8100,1446225,1.001205,1.027160,0.993827,1.033540,1.396837,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-01-09,8150,8300,8050,8110,1092275,1.006173,1.023428,0.992602,1.031056,0.755259,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-01-10,8130,8280,8110,8220,914730,1.002466,1.007299,0.986618,1.020962,0.837454,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-01-11,8220,8300,8140,8180,964537,1.000000,1.014670,0.995110,1.019656,1.054450,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-01-12,8180,8220,8070,8210,1315389,1.000000,1.001218,0.982948,1.018587,1.363752,1.005634,NaN,NaN,NaN,NaN,1.147177,NaN,NaN,NaN,NaN

In [99]:
# 결측값을 포함하는 행 제거
df = df.dropna()
df.head()

,open,high,low,close,volume,open_lastclose_ratio,high_close_ratio,low_close_ratio,diffratio,volume_lastvolume_ratio,close_ma5_ratio,close_ma10_ratio,close_ma20_ratio,close_ma60_ratio,close_ma120_ratio,volume_ma5_ratio,volume_ma10_ratio,volume_ma20_ratio,volume_ma60_ratio,volume_ma120_ratio
Date,,,,,,,,,,,,,,,,,,,,
2018-07-04,6830,7140,6820,7060,1172483,1.005891,1.011331,0.966006,1.046921,2.482412,1.035798,1.046701,1.025567,0.991109,0.910870,1.981427,2.479166,2.307518,1.737287,1.142264
2018-07-05,7120,7120,6900,6990,528227,1.008499,1.018598,0.987124,1.031884,0.450520,1.020438,1.029303,1.016284,0.982685,0.902916,0.888783,1.085265,1.022731,0.782835,0.518477
2018-07-06,7010,7020,6810,7000,382148,1.002861,1.002857,0.972857,1.030837,0.723454,1.016260,1.024440,1.019739,0.985592,0.905289,0.641660,0.776290,0.799131,0.565461,0.377286
2018-07-09,6930,7090,6900,7030,464059,0.990000,1.008535,0.981508,1.027536,1.214344,1.008030,1.025678,1.025155,0.991025,0.910337,0.768505,0.939277,0.970984,0.687744,0.459859
2018-07-10,7090,7170,7050,7100,450804,1.008535,1.009859,0.992958,1.017021,0.971437,1.009096,1.030479,1.036345,1.001858,0.920474,0.751911,0.889460,0.934981,0.672624,0.448628

In [73]:
df['volume_lastvolume_ratio'] = df['Volume'] / df['Volume'].shift(1)
df['volume_lastvolume_ratio'] 
df['Volume_1'] = df['Volume'].shift(1)
df[['Volume', 'Volume_1']]

              Volume    Volume_1
Date
2018-01-02   1176650         NaN
2018-01-03   1678788   1176650.0
2018-01-04   1546841   1678788.0
2018-01-05   1035357   1546841.0
2018-01-08   1446225   1035357.0
...              ...         ...
2023-08-28  18449143  31412782.0
2023-08-29  16637840  18449143.0
2023-08-30  12027364  16637840.0
2023-08-31  26246692  12027364.0
2023-09-01  19569427  26246692.0

[1399 rows x 2 columns]